<html>
	<head>
		<title>The WriteUX</title>
	</head>
	<body>
		<div>
            <h1><a href="">Blog: The WriteUX</a></h1>
        </div>
        <div>
            <p>published: 03.10.2015, 12:14</p>
            <h2><a href="">Post1: My #1 UX Rule</a></h2>
            <p>The customer is always right.</p>
        </div>
        <div>
            <p>published: 03.10.2015, 14:04</p>
            <h2><a href="">Post2: Drinking the Koolaid from the Firehose</a></h2>
            <p>Are you the coyote or the roadrunner?</p>
        </div>
    </body>
<html>